body {background-color: #EAF6F6;
text-align: center;}
img {
  background-color: #EAF6F6;
padding: 5px;
margin: 5px;
width: 20%;
height: 20%;}
h1, h3 {color: #3EDBF0;}
em {color: #CC3D0B;}
hr {border-style: none;
border-top-style: dotted;
border-width: 5px;
width: 5%;}

table {margin-left: auto;
margin-right: auto;}
/***********************class tag*********************/
